#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(#44A08D  ,#093637);
}

.Alerta:hover {
  filter: drop-shadow(0 0 2em #393E46);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}